* {
    margin: 0;
    overflow-x: hidden;
}
html, body {
    html, body {
    margin: 0;
    padding: 0;
    width: 100%;

}
}
body {
    font-family: montserrat;
    font-size: 16px;
    grid-template-areas: 
    "header"
    "hero"
    "proyectos"
    "contacto"
    "footer";
    background-color: #111113;
    margin: 0;

}
.nav {
    grid-area: header;
    display: flex;
    background-color: #1a1a1a22;
    color: #aaa;
    font-size: 0.8rem;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    padding: 1rem;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 5;
}
.nav__ul {
    display: flex;
}
.nav h1 {
    font-size: 1rem;
}
.nav p {
    font-size: 0.7rem;
}
.nav__ul > li {
    margin: 10px;
    list-style: none;

}
.nav__ul a {
    color: #aaa;
    text-decoration: none;
}

/* HERO */

.hero {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh;
    background-color: #1a1c1c;
    width: 100vw;

}
.hero h2 {
    font-size: 4rem;
    color: #ffff86;
    font-weight: 500;
    margin-top: 50px;
    word-break: break-word;
    padding: 0 20px;
}
.hero h3 {
    font-size: 5rem;
    color: #eee;
    font-weight: 500;
    padding: 0 20px;
    word-break: break-word;
}
.hero p {
    color: #bbb;
    font-size: 1rem;
}

/* PROYECTOS */
.proyectos {

    padding: 100px;
}
.categoria {
    color: #7f94ff;
}
.title {
    text-align: left;
    font-size: 3rem;
    color: #eee;
    font-weight: 500;
}
.card__container {
    margin-top: 70px;
    display: flex;

    justify-content: center;
    gap: 50px;
}
.card__gym, .card__todolist  {
    width: 400px;
    min-height: 400px;
    background-color: #1f2937;
    padding: 20px;
    color: #eee;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #6b7280;
}
.categoria-proyecto {
    color: #7f94ff;
}
.proyectos h3 {
    margin: 10px 0;
}
.card__container p{
    font-size: 1.3rem;
}
.tecnologias {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 10px;
    padding: 0;
}
.card__img {
    width: 100%;
    border-radius: 10px;
    height: 178px;
    object-fit: cover;
    position: relative;
    margin-top: auto;
    margin-top: 20px;

}

/* SOBRE MI*/
.sobre-mi {
    padding: 50px 100px 50px 100px;
    scroll-margin-top: 100px ;
}
.sobre-mi__p {
    color: #aaa;
}

/* CONTACTO*/
.contacto {
    padding: 50px 100px;
    scroll-margin-top: 100px ;
}
.form {
    margin: auto;
    margin-top: 40px;
    background: linear-gradient(145deg, #1a1a1a, #0f0f0f);
    border-radius: 10px;
    max-width: 100%;
    max-width: 900px;
    padding: 60px;
    border: 2px solid #7f94ff;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.contacto__label {
    display: block;
    color: #7f94ff;
    margin-bottom: 5px;
}


.contacto input, .contacto textarea {
    padding: 8px 0;
    font-size: 18px;
    border-radius: 10px;
    width: 96%;;
    background: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%);
    border: 2px solid #333;
    color: #eee;
    margin-bottom: 10px;
}


.contacto textarea {
    font-family: sans-serif ;
    resize: vertical;
}

/* Estilo del botón con efecto amarillo y negro */
.button {
    background: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%);
    color: #7f94ff;
    border: 2px solid #7f94ff;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 700;

    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: relative;

    padding: 1rem 2rem;
    width: 97%;
    box-shadow: 0 4px 15px #7f94ff77;
    margin-top: 10px;
}








.contactos__direct {
    color: #666;


}

.contactos__item {
    text-align: center;
    color: #666;
}
.contactos__item a {
    color: #7f94ff;
    text-decoration: none;
}
.footer {
    margin-top: 100px;
    background-color: #111;
    width: 100%;
    height: 230px;
    text-align: center;
    border-top: 2px solid #7f94ff;
}

.foot-h3 {
    color: #7f94ff;
    padding: 20px 20px 15px 20px;
}

.foot-text {
    margin-bottom: 60px;
    color: #ccc;
}
.foot-copy {
    color: #7d7d7d;
    font-size: 13px;
}

@media (max-width: 720px) {
    html {
        font-size: 14px;
    }
    .hero p {
        padding: 10px;
    }
    .proyectos {
        padding: 60px 30px 60px 60px;
    }
    .card__gym, .card__todolist {
        max-width: 400px;
        width: auto;
    }
    .card__container {
        flex-direction: column;
        flex-wrap: wrap
    }

    .sobre-mi {
        padding: 50px 60px 50px 60px;
    }
    .contacto {
        padding: 50px 60px;
    }
}